.Payment-wrap {
	background-color: #7760b5;
	justify-content: center;
	padding: 100px 0;
	display: flex;
	.container {
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#362563', endColorstr='#4b2563',GradientType=1 );
	    background: -moz-linear-gradient(45deg, #362563 0%, #4b2563 100%);
	    background: -webkit-linear-gradient(45deg, #362563 0%, #4b2563 100%);
	    background: linear-gradient(45deg, #362563 0%, #4b2563 100%);
	    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25); 
	    background: #362563;
	    border-radius: 10px;
	    padding: 35px 35px;
		max-width: 500px;
		overflow: hidden;
		width: 100%;
		h1 {
			font: 900 2rem/1 'Roboto', sans-serif;
			margin-bottom: 20px;
			color: #ffffff;
		}
		form {
			.form-group {
				width: 100%;
				label {
					font: 400 1rem 'Roboto', sans-serif;
					color: #ffffff;
				    margin: 10px 0;
				    display: block;
				    .required {
				    	color: red;
				    }
				}
				input {
				    background: rgba(255, 255, 255, 0.15);
				    color: rgba(255, 255, 255, 0.8);
					padding: 5px 10px;
				    font-size: 18px;
				    outline: none;
				    border: none;
				    width: 100%;
				}
				.error {
					font: 400 0.800rem 'Roboto', sans-serif;
					margin: 10px 0;
					display: block;
					color: red;
				}
				.btn {
				    background-color: rgba(255, 255, 255, 0.15);
					font: 400 1rem 'Roboto', sans-serif;
				    border-radius: 10px;
				    padding: 10px 30px;
				    cursor: pointer;
					color: #ffffff;
					outline: none;
					display: block;
					margin: 20px 0;
				    border: 0;
				}
				&.btns {
					button	{
						display: inline-block;
						&.btn-cancel {
							margin-left: 5px;
						}
					}
				}
			}
		}
	}
}